#about-me-container {
  display: flex;
  margin-bottom: 2rem;
}

#about-me-image {
  max-width: 200px;
  border-radius: 10px;
  height: auto;
  object-fit: cover;
}

#about-me-text {
  margin: 0;
  margin-left: 2.5rem;
}

.interests-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #about-me-image {
    max-width: 100%;
    aspect-ratio: 8/7;
    object-position: 100% 5%;
  }

  #about-me-text {
    margin: 1rem 0 0 0;
  }

  #about-me-container {
    display: flex;
    flex-direction: column;
  }

  .interests-container {
    display: flex;
    flex-direction: column;
  }
}
