:root {
  --off-white: #fffbf5;
  --black: #1d1d1d;
  --lighter-black: #1d1d1df0;
  --gray: #4d4b4a;
}

::selection {
  background-color: #ffd28f;
  color: var(--black);
}

* {
  color: var(--black);
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 800;
}

.component-padding-top {
  padding-top: 150px;
}

.primary-button {
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  padding: 10px 50px;
  background-color: var(--black);
  border-radius: 300px;
  font-weight: 500;
  color: var(--off-white);
  text-align: center;
}

.filter-button-inactive {
  border: solid var(--black) 1px;
  background: none;
  cursor: pointer;
  align-items: center;
  padding: 4px 14px;
  border-radius: 300px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.filter-button-inactive:hover {
  background-color: #1d1d1d0d;
}

.filter-button-active {
  border: solid var(--black) 1px;
  background: none;
  cursor: pointer;
  align-items: center;
  padding: 4px 14px;
  border-radius: 300px;
  font-weight: 500;
  color: var(--off-white);
  background-color: var(--black);
  text-align: center;
}

.filter-button-active:hover,
.primary-button:hover {
  background-color: var(--lighter-black);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-top-container {
  max-width: 65rem;
  margin: 0 clamp(16px, 2vw, 200px);
}

.spacer {
  padding-bottom: 5rem;
}

/* --- Animations --- */

.drop-in {
  animation-delay: 200ms;
  -webkit-animation-delay: 300ms;
}

.drop-in-2 {
  animation-delay: 400ms;
  -webkit-animation-delay: 600ms;
}

.drop-in-3 {
  animation-delay: 600ms;
  -webkit-animation-delay: 900ms;
}

.drop-in-4 {
  animation-delay: 800ms;
  -webkit-animation-delay: 1200ms;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in {
  opacity: 0;
  animation-name: transitionIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
