.top-footer-container * {
  color: var(--off-white);
  background-color: var(--black);
}

.top-footer-container {
  width: 100%;
}

.outer-footer-container {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-footer-container {
  width: 40rem;
  margin: 0 clamp(16px, 2vw, 20vw);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 75px 0;
}

.dark-background-text {
  margin: 0;
  line-height: 1.4;
}

.contact-icon {
  width: 25px;
  height: 30px;
}

.contact-text {
  margin-left: 20px;
  background-color: transparent;
}

.contact-wrapper {
  margin-top: 30px;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact-container {
  display: flex;
  align-items: center;
}

.footer-image {
  display: flex;
  max-height: 175px;
}

.right-flex {
  display: flex;
  align-items: center;
}

.watermark-text {
  margin: 0;
  padding: 16px 0 16px 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
}
