.interest-container {
  padding: 1.5rem 0;
  width: 30%;
  border: 1px solid var(--black);
  border-radius: 10px;
  text-align: center;
}

.interest-icon {
  width: 50px;
}

.skill {
  line-height: 0.75;
}

.skill-icon {
  width: 50px;
}

@media (max-width: 768px) {
  .interest-container {
    width: 100%;
    margin-bottom: 1rem;
  }
}
