#top-container {
  /*max-height: 250rem;*/
  display: flex;
  padding: 0;
  margin: 0;
}

.primary-button {
  border: solid var(--black) 2px;
  background: none;
  cursor: pointer;
  align-items: center;
  padding: 8px 50px;
  background-color: var(--black);
  border-radius: 3px;
  color: var(--off-white);
  text-align: center;
}

.primary-button:hover {
}

#landing-image {
  float: right;
  width: clamp(250px, 25vw, 300px);
}

#landing-text-container {
  height: 100%;
  margin-top: auto;
  margin-right: 2rem;
}

#landing-text-name {
  font-size: clamp(3rem, 5vw, 5rem);
  line-height: 0;
}

#landing-image-container {
  margin: 0 auto;
}

@media (max-width: 768px) {
  #top-container {
    margin-top: 2vh;
    display: flex;
    flex-direction: column-reverse;
  }
  #landing-image {
    width: clamp(300px, 50vw, 80vw);
  }
  #landing-text-name {
    font-size: 2.4rem;
  }
  #landing-text-container {
    margin-right: 0;
  }
  .primary-button {
    width: 100%;
    font-size: 1rem;
  }
}
